em{
	color: red;
}
.logo {
	position: absolute;
	top: 0;
}
nav{
	background: #fff;
}
.navbar-light .navbar-nav .nav-link{
	color: black;
	text-transform: uppercase;
	font-weight: 500;
	border-bottom:2px solid transparent;
}
.navbar-light .navbar-nav .nav-link:hover{
	color: red;
	border-bottom:2px solid red;
}
.active{
	color: red !important;
	border-bottom:2px solid red !important;
}
.active a{
	color: red !important;
}

/*curso/*/
.curso-content-bottom, .depoimento, .top{
	padding-top: 5em;
	padding-bottom: 5em;
}
.curso-content-bottom h1, .depoimento h1, .top h1{
	font-weight: bolder;
}
.curso-content-bottom p, .depoimento p, .top p{
	text-shadow: 0px 0px 1px #bfbfbf;
	padding-bottom: 1em;
}
.curso-content-bottom .card{
	border: 1px transparent;
}
.curso-content-bottom .card .card-body{
	border: 1px solid #00000017;
}
.curso-content-bottom .card .card-body .card > .card-img-top{
	height: 11em !important;
}
.curso-content-bottom .card .card-body h4{
	font-size: 17px;
}
.curso-content-bottom .card .card-body .top{
	font-size: 16px;
	font-weight: 500;
}
.curso-content-bottom .card .card-body .top p{
	float: left;
}
.curso-content-bottom .card .card-body .top p a{
	padding-right: 12px;
}

/* Paralax*/
.paralax{
	/* <a href="https://br.freepik.com/fotos-gratis/blocos-de-icone-de-midia-social-no-laptop-sobre-o-fundo-azul_2573249.htm">Projetado pelo Freepik</a> */
	background-image: url('../img/1.jpg');
	min-height: 14em;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}
.paralax .container{
	padding-top: 3em;
	padding-bottom: 3em;
}
.paralax span i{
	width: 100%;
}
.paralax .counter-up{
	font-size: 21px;
	font-weight: bolder;
}
.paralax .top{
	background: #0000006b;
}
.paralax .link{
	color: #fff;
	border:2px solid #fff;
	padding-top: 9px;
	padding-bottom: 9px;
}
.paralax .link a{
	text-decoration: none;
	color: #fff;
}
/*depoimentos*/
.depoimento .card .card-img-top{
	width: 29%;
	height: 9em;
	margin-top: 2em;
	margin-left: 12em;
	border-radius: 100%;
}

/*footer*/
.contact h1{
	padding-bottom: 2em;
}
.contact .contact-left hr{
	border-top: 2px solid black;
}
.contact .contact-left span{
	color: red;
	font-size: 24px;
	font-weight: 400;
}
.contact .contact-left .contact-bottom{
	padding-top: 2.1em;
}
.contact .contact-left .contact-bottom ul{
	float: right;
	list-style: none;
	display: -webkit-inline-box;
	display: -o-inline-box;
	display: -ms-inline-box;
	display: -moz-inline-box;
}
.contact .contact-left .contact-bottom ul li{
	padding: 7px;
}
.contact .contact-left .contact-bottom ul li i{
	padding: 0.5em;
	border: 3px solid black;
	color: black;
	font-weight: 700;
}
.contact .contact-left .contact-bottom ul li .fa-facebook-f{
	height: 2.4em;
	width: 2.5em;
	padding-left: 14px;
}
.contact .contact-left .contact-bottom ul li .fa-instagram{
	height: 2.4em;
	width: 2.5em;
	padding-left: 11px;
}
.contact .contact-left .contact-bottom ul li i:hover{
	color: red;
	border: 3px solid red;
}
.contact .contact-rigth{
	background: #ffffff61;
	padding: 2em;
	font-size: 14px;
	text-shadow: 0px 0px 1px #333333;
}
.contact .contact-rigth form span i{
	position: absolute;
	top: 3em;
	left: 21px;
}
.contact .contact-rigth form .form-control{
	background: transparent !important;
	border-radius: 0;
	border: 2px solid #fff;
	padding-left: 1.5em;
	border-bottom: 2px solid red;
}
.contact .contact-rigth form .form-control:focus{
	border-color: transparent;
	border-bottom: 2px solid black;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.contact .contact-rigth form button[type="submit"]{
	background: transparent;
	border: 2px solid black;
	border-radius: 0;
	margin-top: 1.2em;
	cursor: pointer;
	color: black;
	font-weight: 700;
}
.contact .contact-rigth form button[type="submit"]:hover{
	color: red;
	border: 2px solid red;
}

/*serviços*/
header{
	background-image: url("../img/1.jpg");
	background-size: cover;
	margin-bottom: 2em;
}
header .header{
	background: #0000006b;
}
header .header .counter-up{
	color: #fff;
	font-weight: bolder;
	padding: 5em
}
.service .card .card-body{
	border: 1px solid #00000063 !important;
}
.service .card .card-body button{
	margin-bottom: 1em;
	border: 2px solid black;
	border-radius: 0;
	color: black;
	font-weight: 600;
}








/*fpooter*/
footer{
	padding:1rem;
	padding-top: 3em;
	background: #dededeb5;
	font-size: 12px;
	color: #00000075;
	font-weight: 700;
}




/*320 x 568/*/
@media(min-width: 320px){
	nav{
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.logo{
		width: 30%;
		left: 1em
	}
	nav ul{
		padding-top: 2em;
	}
	.paralax .link{
		width: 30%;
		margin-left: 8em;
	}
}

@media(min-width: 568px){
	.logo{
		width: 20%;
		left: 3em
	}
	nav ul{
		padding-top: 3em;
	}
	.paralax .link{
		margin-left: 11em;
	}
}
/*375 x 667*/
@media(min-width: 375px){}
@media(min-width: 667px){
	nav{
		padding-top: 2em !important;
		padding-bottom: 2em !important;
	}
	nav ul{
		padding-top: 4em;
	}
	nav ul .dropdown-menu{
		width: 49%;
		position: absolute!important;
		top: 9em;
		left: 20em;
	}
}

/*992 x 1024 x x768 */
@media(min-width: 992px){
	nav ul{
		margin-top: -46px;
		padding-left: 28em !important;
		padding-bottom: 1em;
	}
	.paralax .link{
		margin-left: 20.5em;
	}
} 
@media(min-width: 1024px){
	.logo{
		width: 17%;
	}
	nav{
		padding-top: 0em !important;
		padding-bottom: 0em !important;
	}
	nav ul{
		margin-top: -43px;
		padding-left: 26em !important;
		padding-bottom: 1.5em;
	}
	.contact .contact-left .contact-bottom{
		padding-top: 1em;
	}
}
@media(min-width: 768px){
	.paralax .link{
		margin-left: 11.5em;
	}
}

/*1360 x 1150*/
@media(min-width: 1360px){
	.logo{
		width: 12%;
		left: 7em;
	}
	nav ul{
		padding-left: 47em !important;
	}
	nav ul .dropdown-menu{
		width: 21%;
		top: 3em;
		left: 65em;
	}
	.paralax .link{
		width: 18%;
		margin-left: 28.5em;
	}
	.contact .contact-left .contact-bottom{
		padding-top: .6em;
	}

}
@media(min-width: 1440){
	nav ul{
		padding-left: 51em !important;
	}
	.contact .contact-left .contact-bottom{
		padding-top: .7em;
	}
}
@media(min-width: 1150px);{
	nav ul{
		padding-left: 40em;
	}
}